* {
    padding: 0;
    margin: 0;
}

html,
body,
#content {
    font-family: 'Oswald', sans-serif;
    height: 100%;
}

#content {
    background-color: #31452C;
}


/* HOME */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13rem 20rem;
    gap: 50px;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 500px;
    height: 500px;
    gap: 1.5rem;
}

.home-text h1 {
    font-size: 4rem;
    width: 75%;
}

.home-text p {
    font-size: 2rem;
}

.home img {
    flex: 1;
    height: 500px;
    width: 500px;
    object-fit: contain;
}

/* MENU */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #283930;
}

.menu-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.menu-heading h1 {
    color: #FFF;
    font-size: 4rem;
    letter-spacing: 5px;
}

.menu-heading p {
    color: #B8ABA0;
    font-size: 1.5rem;
    text-align: center;
    width: 75%;
}

.menu-card-wrapper {
    display: flex;
    gap: 20px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B8ABA0;
    padding: 20px;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    color: #435340;
    font-size: 1.2rem;
}

.menu img {
    height: 300px;
    width: 200px;
    object-fit: cover;
}