* {
    padding: 0;
    margin: 0;
}

html,
body,
#content {
    font-family: 'Oswald', sans-serif;
    height: 100vh;
}

:root {
    --primary-color: #1A1A1D;
    --secondary-color: #C5C6C7;
    --text-primary-color: #C3073F;
    --text-secondary-color: #950740;
}

#content {
    background-color: var(--primary-color);
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 13rem;
    font-size: 2rem;
    color: var(--text-primary-color);
    letter-spacing: 0.3rem;
    height: 10vh;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

button {
    border: 0;
    outline: none;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--text-secondary-color);
    font-size: 2rem;
    cursor: pointer;
}

button:hover {
    color: var(--text-primary-color);
    border-bottom: 2px solid var(--text-primary-color);
}

/* HOME */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--secondary-color);
    height: 80vh;
    padding: 0 15rem;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    color: var(--text-primary-color);
}

.home-text h1 {
    font-size: 5rem;
}

.home-text p {
    font-size: 1.4rem;
    color: var(--text-secondary-color);
    width: 75%;
}

.home img {
    flex: 1;
    height: 400px;
    width: 500px;
    object-fit: scale-down;
}

/* MENU */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--secondary-color);
    height: 80vh;
    gap: 7rem;
}

.menu-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-heading h1 {
    color: var(--text-primary-color);
    font-size: 5rem;
    letter-spacing: 5px;
}

.menu-heading p {
    color: var(--text-secondary-color);
    font-size: 1.5rem;
    text-align: center;
    width: 75%;
}

.menu-card-wrapper {
    display: flex;
    gap: 20px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    color: var(--text-secondary-color);
    font-size: 1.2rem;
}

.menu img {
    height: 300px;
    width: 200px;
    object-fit: cover;
}

/* Contact */
.contact {
    background-color: var(--secondary-color);
    font-size: 5rem;
    height: 80vh;
    color: var(--text-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    color: var(--text-primary-color);
    gap: 0.5rem;
}

.footer a {
    color: var(--secondary-color);
    text-decoration: none;
    text-align: center;
}